<a href="https://colab.research.google.com/github/lonewolf235/ML-Models/blob/main/DecisionTreeAlgorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine learning model using decision tree algorithm

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
filename='/content/drive/My Drive/Datasets/apndcts.csv'
data=pd.read_csv(filename)
print(data.shape)
data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(106, 8)

     At1    At2    At3    At4    At5    At6    At7  class
0  0.213  0.554  0.207  0.000  0.000  0.749  0.220      1
1  0.458  0.714  0.468  0.111  0.102  0.741  0.436      1
2  0.102  0.518  0.111  0.056  0.022  0.506  0.086      1
3  0.187  0.196  0.105  0.056  0.029  0.133  0.085      1
4  0.236  0.804  0.289  0.111  0.066  0.756  0.241      1

In [ ]:
predictors=data.iloc[:,0:7]
target=data.iloc[:,7]

In [ ]:
from sklearn.model_selection import train_test_split

predictors_train, predictors_test, target_train, target_test =train_test_split(predictors, target, test_size=0.3, random_state=121)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtree_entropy=DecisionTreeClassifier(criterion="entropy", max_depth=3 )

model1=dtree_entropy.fit(predictors_train, target_train)

predictions= dtree_entropy.predict(predictors_test)
print(predictions)

[0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]

In [ ]:
print(target_test)

35     0
41     0
5      1
40     0
36     0
82     0
96     0
69     0
3      1
76     0
48     0
93     0
60     0
81     0
12     1
16     1
78     0
66     0
59     0
83     0
38     0
99     0
18     1
31     0
70     0
25     0
43     0
55     0
29     0
85     0
100    0
32     0
Name: class, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(target_test,predictions)

0.9375