<a href="https://colab.research.google.com/github/lonewolf235/ML-Models/blob/main/Multiple_Linear_Regression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression Done on College provided dataset

[link text](https://)
##Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded=files.upload()

Saving ML_Dataset_CO2Emission.csv to ML_Dataset_CO2Emission.csv

In [3]:
dataset=pd.read_csv('ML_Dataset_CO2Emission.csv')
print(dataset.shape)
dataset.head()

(1067, 4)

   Engine_Size  Cylinders  Fuel_Consumption  CO2_Emissions
0          2.0          4               9.9            196
1          2.4          4              11.2            221
2          1.5          4               6.0            136
3          3.5          6              12.7            255
4          3.5          6              12.1            244

In [6]:
dataset.tail()

      Engine_Size  Cylinders  Fuel_Consumption  CO2_Emissions
1062          3.0          6              13.4            271
1063          3.2          6              13.2            264
1064          3.0          6              13.4            271
1065          3.2          6              12.9            260
1066          3.2          6              14.9            294

In [7]:
dataset.describe()

       Engine_Size    Cylinders  Fuel_Consumption  CO2_Emissions
count  1067.000000  1067.000000       1067.000000    1067.000000
mean      3.346298     5.794752         13.296532     256.228679
std       1.415895     1.797447          4.101253      63.372304
min       1.000000     3.000000          4.600000     108.000000
25%       2.000000     4.000000         10.250000     207.000000
50%       3.400000     6.000000         12.600000     251.000000
75%       4.300000     8.000000         15.550000     294.000000
max       8.400000    12.000000         30.200000     488.000000

In [19]:
x=dataset.drop(['CO2_Emissions'],axis=1).values
print(x.shape)
y=dataset.CO2_Emissions.values
y=y.reshape(-1,1)

(1067, 3)

In [14]:
#%matplotlib inline
#plt.xlabel('Engine Size')
#plt.ylabel('CO2 Emissions')
#plt.scatter(X,Y,color='red',marker='.')

In [63]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(x,y,test_size=0.22,random_state=88)

In [64]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(Xtrain,Ytrain)

LinearRegression()

In [65]:
predictions=reg.predict(Xtest)

In [66]:
coefficent=reg.coef_
coefficent

array([[11.52396868,  6.08728574,  8.37856805]])

In [67]:
intercept=reg.intercept_
intercept

array([70.82347472])

In [68]:
df = pd.DataFrame({'Actual': Ytest.tolist(), 'Predicted': predictions.tolist()})
df.shape

(235, 2)

In [69]:
df.head(10)

  Actual             Predicted
0  [214]  [202.00623547335368]
1  [258]  [251.67833656404596]
2  [235]  [223.47872241918714]
3  [363]  [331.20424273649894]
4  [283]   [268.6469994240914]
5  [317]  [333.19724649897495]
6  [216]  [215.30893105216805]
7  [290]   [275.8759206924582]
8  [327]  [288.33800937635704]
9  [271]   [262.4674617291897]

In [70]:
df.tail(5)

    Actual             Predicted
230  [310]  [312.77139303624796]
231  [230]  [199.80720512268675]
232  [327]  [309.41721572766187]
233  [213]   [219.0019211863283]
234  [182]  [184.19971580875136]

In [71]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Ytest, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(Ytest, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Ytest, predictions)))

Mean Absolute Error: 16.959270414065443
Mean Squared Error: 534.0606082303423
Root Mean Squared Error: 23.10975136669242

##Added R square accuracy

In [73]:
from sklearn.metrics import r2_score
r2=r2_score(Ytest,predictions)
print("Accuracy of model is ",round(r2*100,2),"%")

Accuracy of model is  86.75 %